@model IEnumerable<School_Project.Models.Data>
@using School_Project.Models
@{
    Layout = "~/View/Main_Layout.cshtml";

    
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Strona Nauczyciela</title>

    <link rel="stylesheet" href="~/Contents/Others/Personal_Data.css" type="text/css" />

    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">

    <style>
        td {
            //border: 3px solid black;
        }

        b{
            font-weight:normal;
        }
    </style>
   
   
</head>
<body>

 
    
    <div id="container">
        @if (Model != null) {
    <div id="table" style="margin-left:40%; margin-top:20px; font-family:monospace; font-weight:normal;
             width:30%; text-align:left;">
        <table class="test" cellpadding="4" cellspacing="1" border="0" style="font-weight:normal; text-align:left; width:100%;  font-size:20px; color:black; font-family: 'Gloria Hallelujah', cursive;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); ">

            @foreach(var item in Model)
                {
                
                <tr>
                    <th style="font-size:22px; text-align:left;padding:10px; padding-right:1px; ">Dane osobowe</th>

                </tr>
               

                <tr >
                    <td>
                        Imię: 
                    </td>
                    <td>@item.Imie</td>
                </tr>

                <tr>
                    <td>
                        <b>Nazwisko: </b>
                    </td>
                    <td>@item.Nazwisko</td>
                </tr>

                <tr>
                    <td>
                        <b>Data urodzenia: </b>
                    </td>
                    <td>@item.Data_Urodzenia.ToShortDateString()</td>

                </tr>

                <tr>
                    <td>
                        <b>Pesel: </b>
                    </td>
                    <td>@item.Pesel</td>
                </tr>

                <tr>
                    <td>
                        <b>Rodzaj użytkownika: </b>
                    </td>
                    <td>
                        @item.Rodzaj
                    </td>
                </tr>

                <tr>
                    <td>
                        <b>Miasto: </b>
                    </td>
                    <td>@item.Miasto</td>

                </tr>

                <tr>
                    <td>
                        <b>Adres: </b>
                    </td>
                    <td>@item.Adres</td>
                </tr>

                <tr>
                    <td>
                        <b>Numer telefonu: </b>
                    </td>
                    <td>@item.Telefon</td>
                </tr>
        }


            <tr></tr>

        </table>
    </div>
       }


    </div>
</body>
</html>